version: '4.0'
services:
  mongo:
    image: mongo:6.0.8
    expose:
      - "27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - backend-network

  api:
    build: ./simpleAPI
    ports:
      - "3001:3001"
    depends_on:
      - mongo
    networks:
      - backend-network

  frontend:
    build:
      context: ./simpleReactApp
      args:
        NGINX_ENV: development
    ports:
      - "80:80"
    depends_on:
      - api
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge

volumes:
  mongodb_data:
